@import "__variables";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #454D5C;
    color: $primary-color;
    text-align: center;
    font-family: 'Nunito';
}


