@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');




body {
    background-color: #454D5C;
    color: #C6B993;
    text-align: center;
    font-family: 'Nunito';
}


